/* (4) Create an html page with 1 anchor tag. Provide styling for this anchor tag including
different colors for these css pseudo-class properties: link, visited, hover, active. */

a:link {
    color: lawngreen;
}

a:visited {
    color: violet;
}

a:hover {
    color: red;
}

a:active {
    color: orange
}