div {
    width: 400px;
    height: 200px;
    border: 10px dashed red;
    margin: 20px 40px;
}

#border-box {
    width: 400px;
    height: 200px;
    border: 10px dashed red;
    margin: 20px 400px 200px 200px;
    box-sizing: border-box;
}