html {
    background-color: #186ea3;
}

body {
    background-color: #1eeb96;
    width: 60%;
    /* height: fit-content; */
    margin: auto;
    border: 5px solid black;
}
img {
    display: block;
    margin: 0 auto;
    border: 10px ridge gold;
    border-radius: 100%;
}

  #major {
    color: lightskyblue;
  }

  #minor {
    color: red;
  }